<h1>{{title}}</h1>

{{!-- Create a form to send data back to the server --}}

<form method="POST">

    {{!-- add form fields --}}
    <fieldset>
        <label for="recipeType" class="col-2">Recipe Type: </label>
        <input name="recipeType" id="recipeType" value="{{project.recipeType}}"/>
        {{!-- <select name="recipeType" id="recipeType">
            {{#each recipeType}}
                {{!-- <option>{{this.recipeType}</option> 
            {{!-- {{/each}}         
             </select>  --}}
    </fieldset>


    {{!-- fieldset to edit the recipe name  --}}
    <fieldset>
        <label for="recipeName" class="col-2">Recipe Name: </label>
        <input name="recipeName" id="recipeName" required value="{{project.recipeName}}"/>
    </fieldset>


    {{!-- fieldset to edit the ingredients used in recipe --}}
    <fieldset>
        <label for="ingredients" class="col-2">Ingredients Used: </label>
        <input name="ingredients" id="ingredients" value="{{project.ingredients}}"/>
    </fieldset>

    {{!-- adding button to trigger POST request back to server --}}

    <button class="offset-3 btn btn-primary"> Save </button>

</form>
