<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<button class="showRecipeAddButton"> <a href="/projects/add">Add a new Recipe</a> </button>

{{!-- Adding table to show data --}}


{{!-- Each record will have action button to edit/delete --}}
<table>
    <thead>
        <th>Recipe Type </th>
        <th>Recipe Name</th>
        <th>Main Ingredients</th>
        <th></th>
    </thead>
    <tbody>
        {{!-- Showing elements from database --}}
        {{#each dataset}}
            <tr>
                <td>{{this.recipeType}}</td>
                <td>{{this.recipeName}}</td>
                <td>{{this.ingredients}}</td>
                <td>
                    <a href="/projects/edit/{{this._id}}" class="editButtonProjects" > Edit </a>
                    <a href="/projects/delete/{{this._id}}" class="deleteButtonProjects" onclick="confirmDeletion()"> Delete </a>

                </td>
            </tr>
        {{/each}}


    </tbody>
</table>